.mask-cursor-intro {
    position: absolute;
    mask-image: url("../public/mask-cursor.svg");
    background: #dc2626;
    mask-repeat: no-repeat;
    mask-size: 40px;
    color: black;
}

#nprogress .bar {
    top: 65px !important;
}

#nprogress .bar .peg {
    width: 1px;
    height: 1px;
    background-color: #afa18f;
    border-radius: 50%;
    top: 2px;
    right: -2px !important;
    box-shadow: 0px 0px 194px 23px rgba(175, 161, 143, 0.75) !important;
}

html,
body {
}
